<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="left_container" style="background-color:powderblue;">

    <h1 style=" color:rgb(2, 47, 47); text-align: center; font-size: 400%; font-family: cursive;">Welcome, {{this_user.first_name}} !!!</h1>
    <a href="/plant/new">Add Plant</a>  <a href="/user/{{this_user.id}}/edit">Account</a> <a href="/logout">Logout</a>

    <div>
        <!-- {{this_user.id}} {{session["user_id"]}} may need to readd later -->
        <h2>Plants to Swap</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Added By</th>
                </tr>
            </thead>
            <tbody>
                
                 {% for plant in plant %}
                   
                    
                        <td> 
                            <a href="/plant/{{plant.id}}/show"> {{plant.plant_name}}</a>
                        </td>
                        <td> 
                        <p> Added by: {{plant.user.first_name}} </p>
                        </td>
                    
                    </tr> 
                {% endfor %} 
                
            </tbody>

    
</body>
</html>